/* {border: 1px solid red}*/
.container-navbar {
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left:0px;padding: 0px 4px;
    background-color: blue;
}

.the-view {
    /* background-color: pink; */
    margin-top:5px;
    padding:0px !important;
}

.container-navbar a {
    color:white;
    
}

.btn-warning {
    color:black !important;
}

.page-detail {
    margin: 0 5px 0 105px;
    padding:30px;
}

.user-info {
    background-color: rgba(0, 0, 255, .2);
}

.container-search-bar {
    position: relative;
    text-align: right;
}

.container-search-result {
    position: absolute;
    width: 300px;
    max-height: 80vh;
    right:0px;
    overflow-y: scroll;
    background-color: aliceblue;
    z-index:300;
}

/* .user-info * {
    border:1px solid green;
} 
.search-align-right, .container-search-bar, .search-align-right * {border:1px solid pink;}*/
.search-align-right {
    display: inline-block;
    position: relative;
    right: 0px;
    text-align: right;
}

.footer-post {
    position: fixed;
    bottom: 0px;
    width:100%;
    padding:0px 105px;/* Same with nav width */
}
.transparent {
    background-color: rgba(226, 226, 226, 0) !important;
}

.fit {
    width:100%;
    overflow: hidden;
}

.footer-post > div {
    background-color: azure;
}

.card {
    box-shadow: 0px 0px 0px grey;
    border: 0px !important;
    border-radius: 0px !important;
    padding:15px;
    margin-top: 7px;
    background-color: rgba(226, 226, 226, 0.658);
}

a.nav-link.btn-primary {
    color:white;
}

.breadcrumb {
    padding:7px;
    margin-top: 7px;
    font-weight: bold;
    margin-bottom:0px !important;
}

.full-height {
    max-height: 100vh;
}
/* .search-align-right > div {
    display: inline;
    text-align: right;
} */
.v-middle {
    display: table;
    height: 100%;
    }

.v-middle > * {
    display: table-cell;
    vertical-align: middle;
}
.icon {
    width: 3rem;
    display: inline-block;
    background-color: lightskyblue;
    height: 3rem;
    vertical-align: middle;
}

.total-label {
    font-size: 2rem;
    font-weight: bolder;
    color:blue;
    width:40px;
    height: 40px;
}

.container-logo {
    width: 80%;
    margin: 20px auto;
    height: 80px;
    background-color: darkblue;
}

.status {
    display: inline-block;
    width:20px;
    height:20px;
    margin: 0px 0px 0px 10px;
    border-radius: 50%;
}

.status-online {
    background-color: green;
}

.status-offline {
    background-color: grey;
}

.member-less {

    box-shadow: 0px 0px 5px grey;
    padding: 10px;
    border-radius: 5px;

}

.member-less-marker {

    width: 30px;
    height: 30px;
    margin-top: 8px;
    display: inline-block;
    background-color: grey;
    border-radius: 50%;

}

.container-member-less-img {
    width:45px;
    height:45px;
    background-color: aquamarine;
}

.member-class {
    font-size: 15px;
    font-weight: bold;
}

.member-less-marker.member-paid-true {
    background-color: green;
}

.member-less-marker.member-paid-false {
    background-color: red;
}

.member-less-marker.member-type-teacher {
    background-color: yellow;
}
.member-less-marker.member-type-student {
    background-color: lightblue;
}


