<div class="breadcrumb" d-breadcrumb> Dashboard / Home </div>

<section class="fit">

    <div class="row">

        <div class="col-md-4" >

            <div class="card">
                
                <div panel="info-total" d-data="students.total" d-member-type="d='students'" d-total></div>
            
            </div>
            

        </div>

        <div class="col-md-4">

            <div class="card">
                
                <div panel="info-total" d-data="teachers.total" d-member-type="d='teachers'" d-total></div>
            
            </div>
            
        </div>

        <div class="col-md-4">

            <div class="card">
                
                <div panel="info-total" d-data="nonteachers.total" d-member-type="d='non teachers'" d-total></div>
            
            </div>

        </div>

    </div>

</section>




