<div class="breadcrumb" d-breadcrumb> Dashboard / </div>

<section info-header>

    <div class="row">

        <div class="col-md-4">

            <div class="card"><div panel="info-total" d-data="students" d-total></div></div>
            

        </div>

        <div class="col-md-4">

            <div class="card"><div panel="info-total" d-data="teachers" d-total></div></div>
            
        </div>

        <div class="col-md-4">

            <div class="card"><div panel="info-total" d-data="nonteachers" d-total></div></div>

        </div>

    </div>

</section>


<a href="#logout">Logout</a>

