<div style="margin-top:7px;">

  <div class="breadcrumb" >
    <div class="input-group" >
    
    <select ng-model="m" placeholder="Select Month" class="input-group-append form-control col-md-6 col-sm-6">
      <option value="1">January</option>
      <option value="2">Febuary</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>

  <input type="text" ng-model="y" placeholder="Enter Year" class="input-group-append form-control col-md-6 col-sm-6"/>
  </div>
</div>

  <div id="calendar">
    <div></div>
    <div id="cal-view"></div>
  </div>
</div>



<style>
    
    #calendar h1{
        text-align:center;
    }

    #calendar table {
        width: 100%;
        border: 0px solid grey;
        border-collapse: collapse;
        text-align: center;
        font-size: 20px;
    }

    #calendar table th, #calendar h1 {
      background-color: rgba(226, 226, 226, 0.658);
        /* color: white; */
        padding: 10px;
        
    }

    #calendar table tr td {
        padding: 10px;width: 50px;
        background: rgba(20,20,20,.2);
    }
</style>

